section{
	background-image: url(file:///E:/sublime%20text/images/img_1_long.jpg.webp);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: absolute;
}


section nav .logo{
	float: left;
	color: white;
	font-size: 30px;
	font-weight: bold;
	padding: 45px 15px;
	font-family: playfair display;
	cursor: pointer;
}
ul{
	display: flex;
	float: right;
}
ul li {
	list-style: none;
	padding-top: 9%;

}

ul li a{
	color: white;
	font-size: 20px;
	padding: 20px;
	text-decoration: none;
	font-family: playfair display;

}

ul li a:hover{
	color: rgba(0, 195, 209);
}

/*heading 1*/

section .head1 h1{
	font-size: 90px;
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top: 20%;
	font-family: playfair display;



}

section .head1 p{
	text-align: center;
	color: whitesmoke;
	font-weight: 70;
	font-size: 30px;
	cursor: pointer;
	padding-bottom: 20%;
}

section .head1 p span{
	color: lightgray;
	text-decoration: underline;
}

section .head1 p span:hover{
	color: white;
}


.container60 .row .col-sm-3{
	padding-top: 10%;
}


.container60 .row .col-sm-3 img{
	width: 250px;
	height: 150px;
	padding: 5px;


}


.container70 .row .col-sm-3 img{
	width: 250px;
	height: 150px;
	padding: 5px;
	padding-top: 10%;
}



.containerb .row .col-sm-6 img{
	height: 100%;
	padding-top: 5%;
	margin: 0 auto;
	width: 100%;
}
.container12{
	padding-bottom: 10%;
}

.container12 .row .col-sm-3 img{
	width: 250px;
	height: 150px;
	padding: 5px;
	padding-top: 10%;
}


}
.container123{
	padding-top: 10%;
}

.container123 .row .col-sm-3{
	background-color: black;
	color: white;
}

.container123 .row .col-sm-3 h1{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding: 25px;
	padding-top: 50%;
	  font-family: playfair display;

}

.container123 .row .col-sm-3 a{
	color:grey;
	font-size: 15px;
	text-align: left;
	padding:25px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 35px;
}

.container123 .row .col-sm-3 h{
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	padding: 25px;
	  font-family: playfair display;


}

.container123 .row .col-sm-3 p{
	padding: 25px;
	color: grey;
	font-size: 15px;
}

.container123 .row .col-sm-3 p1{
	color: grey;
	
}

.container123 .row .col-sm-3 li{
	list-style: none;
}
 
.container123 .row .col-sm-3 li a{
	color: grey;
	border-bottom: 1px solid white;
	list-style: none;
	height: 20%;

}

.container123 .row .last{
	background-color: black;
	color:white;

}

.container123 .row .last h1{
	font-size: 20px;
	text-align: center;
	color: grey;
	padding: 35px;
	font-weight: 70;
	margin:0 auto;
	  font-family: playfair display;



}

.container123 .row .icon2{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: black;
	padding-bottom: 70px;
}

.container123 .row .icon2 i{
	font-size: 20px;
	color: grey;
	text-align: center;
	color: grey;
	padding: 5px;
}